html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
  background-color: #d4d4d4;
  margin: 0px;
  padding: 0px;
}
.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;

}
.logo img {
float: center;
width: 80px;
height: 80px;

}
.container {
  padding: 16px;
}
.header {
  height: 75px;
  width: auto;
  background-color: #00008B;
  padding-top: 20px;
  font-size: 1rem;

}
.background {
background-repeat: repeat;
height: 200px;
width: 200px;
background-position: center;
background-size: cover;
}


.function {
  height: auto;
  width: auto;
  background-color: #d4d4d4;
  text-align: center;

}
.function-images {
  height: auto;
  width: auto;
  display: inline-flex;
  padding: 20px 10px 60px 10px;
}

 footer {
  color: #fff;
  background-color: #00008B;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;


}
.left{
  float: left;
  display: inline-block;


  }

.right{
  float: right;
  display: inline-block;
  }
  .table {
  background-color: #d4d4d4;
  border-spacing: 10px;
  width: 40%;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;

}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.user img {
float: center;
width: 80px;
height: 80px;

}
